<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.eno.android.mytopics">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="jp.eno.android.mytopics.apilist.ApiListActivity" />

        <activity
            android:name="jp.eno.android.mytopics.setting.AddSettingApiActivity"
            android:label="@string/add_common_label"/>

        <activity
            android:name="jp.eno.android.mytopics.manual.AddManualActivity"
            android:label="@string/add_common_label"/>

        <provider
            android:name="jp.eno.android.mytopics.setting.SettingApiProvider"
            android:authorities="jp.eno.android.mytopics.setting"
            android:exported="false" />
    </application>

</manifest>
